[submodule "cmake/vnecmake"]
	path = cmake/vnecmake
	url = https://github.com/vertexnova/vnecmake.git
[submodule "deps/external/googletest"]
	path = deps/external/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/internal/vnecommon"]
	path = deps/internal/vnecommon
	url = https://github.com/vertexnova/vnecommon.git
[submodule "deps/internal/vnelogging"]
	path = deps/internal/vnelogging
	url = https://github.com/vertexnova/vnelogging.git
[submodule "deps/external/glfw"]
	path = deps/external/glfw
	url = https://github.com/glfw/glfw.git
	branch = latest
[submodule "deps/internal/glad"]
	path = deps/internal/glad
	url = https://github.com/vertexnova/opengl-glad.git
[submodule "deps/internal/vneevents"]
	path = deps/internal/vneevents
	url = https://github.com/vertexnova/vneevents.git
[submodule "deps/internal/vnemath"]
	path = deps/internal/vnemath
	url = https://github.com/vertexnova/vnemath.git
[submodule "deps/internal/vnescene"]
	path = deps/internal/vnescene
	url = https://github.com/vertexnova/vnescene.git
[submodule "deps/internal/vneintraction"]
	path = deps/internal/vneintraction
	url = https://github.com/vertexnova/vneintraction.git
